@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
::-webkit-scrollbar {width: 3px;} 
::-webkit-scrollbar-thumb {background-color: rgba(220, 77, 58, 0.6);} 
::-webkit-scrollbar-track {background-color: black;}
::selection {
    background: #fff; color: rgb(168,153,110);
}
*{
    margin: 0 auto; padding: 0;
    color: #333;
    font-family: 'Pretendard-Regular';
}
li{list-style: none;}
a{display: block; text-decoration: none; color: inherit;}
img{display: block; border: none;}
.cf::after{content: ""; clear: both; display: block;}
body{
    overflow-x: hidden;
	margin : 0;
	padding : 0;
	background : url('../img/Animation - 4437.mp4') center center fixed no-repeat;
}
video{
	position : fixed;
	top : 0; 
	left : 0;
	min-width : 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
}

#topMenu{
    width: 100%;
    position: sticky;
    top: 0; left: 0;
    z-index: 9999;
}
header{
    position: sticky;
    top: 0; left: 0;
    z-index: 9998;
}
.topgnb{
    width: 100%;
    font-size: .7rem;
    background: rgba(255, 255, 255, 0.911);
    float: right;
    line-height: 35px;
    text-align: center;
}
.topgnb li{float: right; width: 85px; margin-left: 10px;}
.topbar{
    width: 100%;
    font-size: .7rem;
    float: right;
    line-height: 40px;
    text-align: center;
    background: black;
}
.topbar li{float: right; width: 85px; margin-left: 10px;}
.topbar a, i{color: #fff;}
.la{
    display: none;
    background: black;
    color: white;
    position: absolute; top: 65px; left: 880px;
    z-index: 9999999;
}
.la a:hover{
    color: rgb(220,77,58);

}

#head{
    width: 100%;
    background: black;
}
.logo{
    width: 15%; padding: 28px 0 27px 30px; float: left;
    background: black;
}
.logo img{width: 100%;}

nav{
    width: 80%; height: 100px; float: right;
    background: black;
    
}
.gnb{
    width: 90%;
    font-size: .85rem;
    position: relative;
    top: 30px; right: -20px;
}
.sub{
    display: none;
    font-size: 13px;
}
.gnb a{
    background: rgb(167,169,172);
    color: #000;
    width: 150px; line-height: 40px;
    text-align: center;
}

.gnb a:after {/*after 가상요소*/
    display:block;
    content: '';
    border-bottom: solid 2px rgb(220,77,58); 
    transform-origin: 0% 50%;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
 }
.gnb li:hover>a:after{
    transform: scaleX(1);
}
.gnb li:hover>a{color: rgb(220,77,58);}
.gnb>li{float: left;}
#popup{
    width: 100%; height: 100vh; 
    background:rgba(0,0,0,0.7);
    position: fixed;
    top:0; left:0;
    z-index: 99999;
    display: none;
}

#sideMenu{
    width: 80px; height: 395px; 
    transition: .5s; opacity: 0;
    background: rgb(212, 212, 212); position:absolute; top: 300px; right: 10px; z-index: 1;
}
#sideMenu.active{
    opacity: 1; top: 300px;
}
#sideMenu .ssub{
    height: 315px;
    background: #fff; 
    position: absolute; top: 40px; right: 80px; z-index: 1;
    display: none;
}
.sgnb{width: 80px; height: 100%; line-height: 50px;}
.sgnb li{width: 80px; height: 80px; border: #00ff0000 2px solid; text-align: center; box-sizing: border-box;}
.sgnb li a{padding: 10px 10px; box-sizing: border-box; font-size: .8rem;}
.sgnb li:hover>a{background: rgb(220,77,58); color: #fff;}

#search input{
    border: none; background: none; padding: 5px; width: 90%; float: left;
    color: #fff;
}
input:focus{outline:none;}
input::-webkit-input-placeholder{color: #fff;}
#search{width:40%; position: absolute; top: 20%; left: 50%; transform: translate(-50%,-50%);}
#search a{float: left; padding: 5px;}
.bar{
    width: 42%; height: 10px; border-top: #fff solid 1px;
    position: absolute; top: 22%; left: 29%;
}
.close{float: right; padding: 40px;}
.popkwd{
    width: 100%; height: 200px;
    position: absolute; top: 55%; left: 50%; transform: translate(-50%,-50%);
}
.popkwd .kList, .kList2{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-top: 40px;
}
.popkwd h3, span{
    color: #fff;
}
.popkwd h3{padding: 20px 0px; text-align: center;}
.popkwd span{
    font-size: 1rem;
    padding: 10px 20px 10px 20px; text-align: center;
    margin: 10px;
    border: 2px #fff solid; border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
.popkwd span:hover{
    background: #fff; color: #333;
    transition: .2s;
}

#slide{
    width: 100%; height: 350px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
}
.slimg{width: 75%; height: auto; float: left;}
.slimg img{width: 100%;}
.slnav{width: 25%; float: left; background: rgb(66, 66, 66);}

.snTop img{padding: 10px 70px 17px 0; box-sizing: border-box;}
.reser{width: 100%; float: left;}
.slmenu a{width: 100%; height: 56.5px; line-height: 30px; text-align: center; border-bottom: lightgrey 1px solid; box-sizing: border-box; transition: .1s;}
.slmenu li a span{float: left;}
.slmenu li a span:nth-child(1){width: 30%; padding: 10px; box-sizing: border-box;}
.slmenu li a span:nth-child(2){width: 70%; padding: 10px; box-sizing: border-box;}
.reser li{width: 50%; float: left; text-align: left; line-height: 20px; color: #fff; position: relative;}
.reser li:nth-child(1){background: #af2d2d; padding: 10px 20px; box-sizing: border-box;}
.reser li:nth-child(2){background: #cb6514; padding: 10px 20px; box-sizing: border-box;}
.reser li a{width: 10px; height: 10px; position: absolute; top: 18px; left: 110px;}
.slmenu a:hover{background: black; transition: .2s;}

.notice{
    width: 80%; height: 50px; background: rgba(255, 255, 255, 0.774); border-radius: 60px; 
    overflow: hidden; position: relative;
}
.notitle{float: left;}
.rolling li{width: 700px; height: 40px; float: left;}
.rolling a{width: 700px; line-height: 40px; padding: 5px 0 5px 10px;}
.rolling a img{width: 20px; height: 20px; margin: 0; padding: 10px; float: left;}
.rolling a span{color: #333}
.cont{width:15px; position: absolute; top: 5px; right: 15px;}
.cont .up{padding: 5px;}
.cont .down{padding: 5px;}
button{background: none; border: none;}


#content{
    width: 100%;
    padding-top: 50px;
}


.more{
    width: 63px!important; height: 10px!important;
    float: right!important; padding: 0 20px 0 0!important;
}
.mo2{padding: 0 60px 0 0!important;}
.more img{width: 100%!important;}

/* sec 1, 2 */

.sec1 .title, .sec2 .title{
    width: 20%;
    text-align: center;
    line-height: 40px;
    border-bottom: 2px rgb(220,77,58) solid;
}
.sec1 .title p, .sec2 .title p{
    font-weight: bold; font-size: 1.2rem;
    color: #fff;
    padding-bottom: 10px;
}
.sec1 #container{
    padding-top: 50px;
    box-sizing: border-box;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} 

.sec2 #container{
    padding-top: 50px;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} 

.sec1 #container .online{
    width: 260px; height: 400px; 
    background: rgba(255, 255, 255, 0.808);
}
.sec1 a{
    margin: 0;
    overflow: hidden;
}
.sec1 .txtBox{padding: 10px 0 0 10px;}
.sec1 .bg{
    width: 250px; height: 200px;
}
.sec1 .bgbtn{
    width: 50px; height: 50px; padding: 80px 0 0 100px;
}
.sec1 .bgbtn img{width: 100%;}
.sec1 h5{padding: 10px 0;}
.sec1 p{font-size: .8rem; color: #242426; line-height: 20px;}
.sec1 span{
    font-size: .7rem;
    line-height: 30px; color: rgb(134, 134, 134);
}


.sec2 .txtBox{padding: 10px 0 0 5px;}
.sec2 p, h3{color: #fff; line-height: 25px;}
.sec2 p{font-size: .8rem;}
.sec2 span{
    font-size: .7rem;
    line-height: 30px; color: darkgray;
}
.sec2 li{
    float: left;
    padding: 25px 0 25px 25px;
}

.sec2 a{
    width: 250px; height: auto;
    margin: 0;
    overflow: hidden;
    transition: .3s;
}
.sec2 img{width: 100%; transition: .3s; opacity: 0.8;}
.sec2 a:hover img{opacity: 1;}

/* sec 4 */
.sec4{margin: 0 auto; width: 100%; height: auto;}
.btBox{width: 100%; height: auto; margin: 0; padding: 50px 0;}
.btSlider{
    width: 45%; height: auto; 
    overflow: hidden; position: relative;  float: left;
}
.btSlider ul img{width: 600px;}
.btSlider ul{width:600%; display:flex;}
.arrow{position: absolute; top: 50px;
    transition:.6s;
}
.left{left:20px;}
.right{right: 20px;}    
.btList{
    width: 45%; height: 180px; float: left;
    background-image: url('../img/misc-bg.png');
}
.liList{width: 100%; height: 165px;}
.liList li{text-align: right; margin-right: 5px; width: 300px; height: 38px; line-height: 40px; border-bottom: cornsilk 1px solid;}
.liList li a{color: #fff;}

/* sec 5 */
.wrapper{
    height: 60px;
    width: 60%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
}
  .wrapper .btn-1{
    position: absolute;
    height: 100%;
    width: 80%;
    color: #ffffff;
    background: rgb(82, 82, 82);
    line-height: 60px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
    transition: 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
  .wrapper .btn-1:active{
    transform: scale(0.8);
}
  #click:checked ~ .btn-1{
    height: 40px;
    width: 100px;
    opacity: 0;
    pointer-events: none;
}
  .wrapper .field{
    height: 100%;
    width: 0%;
    opacity: 0;
    pointer-events: none;
    position: relative;
    transition: 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
  #click:checked ~ .field{
    width: 100%;
    opacity: 1;
    pointer-events: auto;
}
  .wrapper .field input{
    height: 100%;
    width: 60%;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 0 130px 0 15px;
    font-size: 15px;
    outline: none;
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
}
  .wrapper .field input::placeholder{
    color: #999;
    font-size: 18px;
}
.wrapper .field .btn-2{
    position: absolute;
    top: 50%;
    right: 12%;
    transform: translateY(-50%);
    background: rgb(220,77,58);
    height: 40px;
    width: 100px;
    user-select: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.wrapper .field .btn-2 img{padding: 3px;}
  .wrapper .field .btn-2:active{
    transform: translateY(-50%) scale(0.9);
}
  .wrapper #click{
    display: none;
}

/* fNav */

#fNav{
    width: 100%; height: 50px;
    background: rgb(167,169,172);
    border-bottom: #000 solid 1px;
}
.ftgnb{
    width: 100%;
    float: left;
    text-align: center;
}
.ftgnb li{float: left; margin-left: 20px;}
.ftgnb a{
    width: 100px;
    font-size: 13px;
    transition: .3s;
    padding: 20px 0 0 10px; box-sizing: border-box;
    letter-spacing: -1px;
}
.cula{padding: 10px 0 0 10px !important;}
.ftgnb a:hover{color: rgb(220,77,58);}

/* footer */
footer{
    width: 100%; height: 200px;
    background: rgb(167,169,172);
}
#foot{
     width: 100%;
    
}
.fLogo{
    width: 200px; height: 45px; padding: 28px 0px 27px 0px;
    float: left;
}
.fLogo img{width: 100%;}
.copyright{
    width: 800px; height: 100px; float: left;
    padding: 25px 0; box-sizing: border-box;
}
.copyright p{
    font-size: 12px;
    text-align: center;
}
.copyright p:nth-child(2){
    font-size: 10px;
    color: #666;
    padding-top: 10px;
}
.sns{
    width: 200px; height: 100px; float: left;
}
.sns a{
    width: 20px; height: 20px; float: left;
    padding: 40px 30px 40px 15px;
}
.sns a img{width: 100%;}
.copyright a{
    width: 100px; height: 10px; display: inline-block;
    font-size: .85rem; text-align: center;
    padding: 10px 0px; margin-left: 25px;
}
.copyright a img{width: 70%;}
.copyright a:hover{text-decoration: underline #666;}


@media all and (max-width: 1400px){
   
}
@media all and (max-width: 768px){
    header, #sideMenu{display: none;}
    #topMenu{width: 100%;}
    #slide{height: auto; display: block;}
    .slimg{display: none;}
    .slnav{width: 100%; margin: 0 auto; float: none;}
    .sec2 #container{
        display: block;
        width:80%;
        height:100vh;
        margin: 0 auto;
    }
    .collect a{width: 80%; height: auto; margin: 0 auto;}
    .collect{
        width: 100%; 
        margin: 0 auto;
    }
}
@media all and (max-width: 640px){
    header, #topMenu{display: none;}
    .gnb{display: none;}
    
}